/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

 @import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

 .jumbotron {
	background-color: white;
	font-family: Oswald;
	font-weight: 300;
	color: black;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 6px;
	font-size: 5em;

	.container {
		margin-bottom: 2px;
	}
	a {
		color: black;
	}
	a:hover  {
		text-decoration: none;
	}
}


 .jumbotron2 {
 	margin-top: 1px;
 	text-align: center;
 	background-color: white;
 	font-family: Oswald;
 	color: black;
 }

 .jumbotron3 {
 	background-color: white;
 		font-family: Oswald;
 	color: black;
 }

 .footer {
 	font-family: Open Sans Condensed;
 	text-align: center;
	color: white;
	background-color: #f2392c;
	height: 70px;
	margin: 0;
	padding:0;
	// line-height: 50px;
	footer {
		height: 70px;
		line-height: 70px;
		font-weight: bold;
		font-size: 2em;
	}
}

.llamalogo {
	width: 200px;
}

.topbar h1 {
	float: left;
}

.searchbtn {
	background-color: #fa8043;
	color: white;
	font-family: Open Sans Condensed;
	height: 50px;
	font-size: 2em;
	border-radius: 5px;
}

.luckybtn {
	background-color: #6cb1ba;
	color: white;
	font-family: Open Sans Condensed;
	height: 50px;
	font-size: 2em;
	border-radius: 5px;
}

.findertitle {
	color: #f2392c;
	font-size: 6em;
	font-family: Open Sans Condensed;
}

.searchfield {
	height: 50px;
	font-size: 2em;
	border-radius: 5px;
	padding-left: 10px;
	border: 2px solid black;
}

.llamaerror {
	text-align: center;
}

.llamaerror img {
	width: 200px;
	margin: 0 auto;
}

.notfound img {
	display: block;
	width: 80%;
	margin: 1em 10%;
}

.movie {
	height: 300px;
}

.movie:nth-child(1n+1){
	clear:both;
}

.postersettings {
	// width: 300px;
	width: 200px;
	img {
		width: 100%;
		max-height: 419px;
		margin: 10px 5px;
	}
	float: left;
}

